<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Titulo-->
    <title>{% block title %}Minha Aplicação{% endblock %}</title>


    <!--Styles-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/layouts/base.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    {% block css %}{% endblock %}


    <!-- base.html (head) -->
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if csrf_token is defined %}
  <meta name="csrf-token" content="{{ csrf_token() }}">
{% endif %}

</head>
<body>


    <!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-3">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}


    <!--NavBar-->
    <button id="menuBtn">☰</button>
    <div id="mySidenav" class="sidenav">
        <nav>
            <a href="/">Home</a>
            <a href="/coleta/">Coleta IPs</a>
            <a href="/admin/db">Usuarios</a>
            <a href="/register">Registrar</a>
            <a href="/logout">Logout</a>
        </nav>

    </div>


    <!--Conteudo principal-->
    <main id="main-content" class="main-content">
        {% block content %}{% endblock %}
    </main>


    <!--Scripts-->
    <script src="{{ url_for('static', filename='scripts/sidebar.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block scripts %} {% endblock %}

</body>
</html>
